* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 260px;
    height: 30px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
    height: 10px;
    align-self: auto;
}

.main-logo {
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.main-logo img {
    width: 31.2px;
    height: 40px;
}

nav {
    width: 100%;
    height: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

menu {
    width: 280px;
    display: flex;
    margin: 25px;
}

menu a:link,
menu a:visited {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 1px;
    transition: .3s;
    color: #fafafa;
    font-family: 'Gideon Roman', serif;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}

menu a:hover {
    color: #505053;
}

main {
    width: 100%;
}
section {
    width: 100%;
}

section img {
    width: 100%;
    height: 80%;
}

#inicio {
    width: 100%;
    position: relative;
}

#inicio h1 {
    font-size: 80px;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: #fafafa;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 15px black;
}

#inicio h2 {
    font-size: 40px;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 100px;
    color: #fafafa;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 15px black;
}

#inicio span {
    color: #ff0000c0;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 15px black;
}

#inicio h3 {
    font-size: 35px;
    width: 350px;
    height: 50px;
    position: absolute;
    top: 680px;
    left: 560px;
    color: #fafafa;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 15px #19191a;
}

.txt-main {
    width: 100%;
    height: 300px;
    position: relative;
    background: linear-gradient(right, white, grey);
}

.txt1 h1 {
    font-family: "Glegoo", serif;
    font-size: 23px;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 100px;
    color: #020202;
}

.txt1 h1 span {
    font-family: "Glegoo", serif;
    color: #19191a;
    font-style: italic;
}

.txt2 h2 {
    font-family: "Glegoo", serif;
    font-size: 18px;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50px;
    right: 100px;
    color: #020202;
}

.txt-main img {
    width: 70px;
    height: 90px;
    margin-top: 120px;
    margin-left: 45%;
}

.galeria {
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.733) 30%, black 50%);
}

.thumbs {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;
}

.thumb:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #020202;
}

.thumb img {
    width: 100%;
    height: 150px;
}

.large {
    width: 630px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
}

.img-large {
    width: 600px;
}

.img-large img {
    width: 100%;
    box-shadow: 0 0 10px #fafafa40;
    border-radius: 5px;
}

.thumb img {
    box-shadow: 0 0 10px #010101c0;
    border-radius: 5px;
}

.galeria-name {
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: center;
}

.galeria-name h2 {
    font-size: 35px;
    font-family: "Glegoo", serif;
    width: 300px;
    height: 30px;
    position: absolute;
}

#carros {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.turbo {
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}

.turbo:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #020202;
}

.turbo img {
    width: 90%;
    height: 170px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-top: 20px;
}

.turbo h1 {
    width: 140px;
    height: 30px;
    font-family: "Glegoo", serif;
}

.turbo p {
    width: 200px;
    height: 100px;
    margin-top: 15px;
    font-family: "Glegoo", serif;
}

.turbo h3 {
    width: 160px;
    height: 22px;
    font-family: "Glegoo", serif;
    margin-top: 20px;
}

.turbo h2 {
    width: 160px;
    height: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}

.gt3 {
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.gt3:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #020202;
}

.gt3 img {
    width: 90%;
    height: 170px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

.gt3 h1 {
    width: 140px;
    height: 30px;
    font-family: "Glegoo", serif;
}

.gt3 p {
    width: 200px;
    height: 100px;
    margin-top: 15px;
    font-family: "Glegoo", serif;
}

.gt3 h3 {
    width: 160px;
    height: 22px;
    font-family: "Glegoo", serif;
    margin-top: 20px;
}

.gt3 h2 {
    width: 160px;
    height: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}

.spyder {
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}

.spyder:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #020202;
}

.spyder img {
    width: 90%;
    height: 170px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

.spyder h1 {
    width: 140px;
    height: 30px;
    font-family: "Glegoo", serif;
}

.spyder p {
    font-size: 15px;
    width: 250px;
    height: 120px;
    margin-top: 15px;
    font-family: "Glegoo", serif;
}

.spyder p span {
    font-style: italic;
}

.spyder h3 {
    width: 160px;
    height: 22px;
    font-family: "Glegoo", serif;
}

.spyder h2 {
    width: 160px;
    height: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}

.name-products {
    width: 150px;
    height: 30px;
    position: absolute;
    left: 600px;
    top: 20px;
    font-family: "Glegoo", serif;
    font-size: 30px;
    text-decoration: underline;
    font-weight: lighter;
    color: #020202;
}

footer {
    width: 100%;
    height: 80px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
}

.footer-img {
    width: 100px;
    height: 10px;
    margin-left: 800px;
    
}
.footer-img img{
    width: 100%;
}
